/* Estilos gerais */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
               Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 1.6;
  font-size: 1rem;
  background-color: #faeed0;
  color: #784b04;
}

/* Layout para desktop */
@media (min-width: 601px) {
  body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Ajuste de fonte para mobile */
@media (max-width: 768px) {
  body {
    font-size: 1.1rem;
  }
}

/* Estilo para o cabeçalho com imagem e título */
.header-container {
  display: flex;
  align-items: center;
}

/* Estilo para a imagem do cabeçalho */
.header-img {
  width: 5%;
  height: 5%;
}

/* Estilo para links marcados */
mark {
  background-color: #ffff00;
  padding: 0 2px;
}

/* Estilo para títulos de blog no estilo WriteFreely */
#blog-title a { 
  color: #ff0000;
}
#blog-title a:hover { 
  color: #ea7500;
}

/* Estilo para títulos de posts */
.post-title a.u-url:link, 
.post-title a.u-url:visited {
  color: #ff0000;
}
